* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.app-root {
  text-align: center;
  background-color: #d32323;
  padding: 2rem;
  min-height: 100vh;
}

.app-header {
  color: white
}

.app-title {
  font-size: 15rem;
}

.app-description {
  font-size: 2.5rem;
}

.search-button {
  margin: 5rem 0rem;
  padding: 1rem 4rem;
  font-size: 2rem;
}

.result-root {
  width: 50vw;
  /*height: calc(100vh - 4rem);*/
  margin: auto;
  padding: 2rem;
}

.result-img-container {
  margin: auto;
}

.result-img {
  height: 20vw;
  width: auto;
}

.result-restaurant-name {
  font-size: 5rem;
  text-decoration: none;
  color: black;
}

.result-restaurant-name:hover {
  color:black
}

.result-stars {
  font-size: 2rem;
  color: yellow;
}

.result-price {
  font-size: 2rem;
}

.result-address {
  color: black;
}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
